html {
    height: 100%;
}

body {
    margin: 0;
    height: 100svh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% min(450px ,70%) auto;
    transition: all 1s;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    background: url(assets/backgrounds/clear-night.jpg);
}

.content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: white;
}

.loading {
    height: 64px;
    width: 64px;
    background: url(./assets/images/loading.svg);
    background-size: cover;
    display: none;
}

.search {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
}

#search {
    height: min(32px, 2rem);
}

#submit {
    height: min(32px, 2rem);
    box-sizing: content-box;
}

.visible {
    display: block;
    animation: spin .5s infinite linear;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}