@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap');


html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
    height: 100svh;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% min(450px ,70%) auto;
    transition: all 1s;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    background: url(assets/backgrounds/clear-night.jpg);
}

.content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 25%);
    padding: .5rem .5rem 0;
}

.title {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    align-items: center;
    font-size: 2rem;
}

.icon {
    grid-area: 1 / 4 / 2 / 6;
    border: red solid 1px;
}

.wrapper-one {
    grid-area: 2 / 1 / 4 / 4;
    display: grid;
}

.main {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.wrapper-two {
    grid-area: 2 / 4 / 4 / 6;
    display: grid;
    place-items: center;
}

.main {
    display: grid;
    place-items: center;
}

.loading {
    height: 64px;
    width: 64px;
    background: url(./assets/images/loading.svg);
    background-size: cover;
    display: none;
}

.search {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
}

#search {
    height: min(32px, 2rem);
}

#submit {
    height: min(32px, 2rem);
    box-sizing: content-box;
}

.visible {
    display: block;
    animation: spin .5s infinite linear;

}

.five-days {
    display: grid;
    grid-area: 4 / 1 / 6 / -1;
    grid-template-columns: repeat(5, 20%);
    place-items: center start ;
}

h3 {
    margin: 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}